name: eEVM Github Actions CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: Create build directory
      run: mkdir build
      
    - name: CMake
      run: cmake ..
      working-directory: ./build
      
    - name: Make
      run: make VERBOSE=1
      working-directory: ./build
      
    - name: Quick tests
      run: ctest -VV
      working-directory: ./build

    - name: Samples
      run: |
        ./hello_world
        ./sum 0xa 0xb
        ./erc20 ../samples/erc20/ERC20_combined.json
        ./disassembler 0x600161123401fd
      working-directory: ./build
      
    - name: Full tests
      run: time ./eevm_tests -ns -d
      working-directory: ./build
      env:
        TEST_DIR: ../3rdparty/test_cases/
